<div id="wrapper">
    <div id="left-column">
        {{#each competitions}}
        <p>{{name}}</p>
        {{#each users}}
        <p>{{first_name}}</p> {{/each}}
         {{/each}}
        <hr/> {{userdata.first_name}} {{userdata.last_name}}
    </div>
    <div id="right-column">
    </div>
</div>